.block {
    width: 200px;
    height: 600px;
    background-color: rgb(196, 192, 192);
    border-radius: 30px;


}

.block input {
    outline: none;
}

.red-ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: black;
    margin-left: 10%;
    margin-top: 50px;
}

.yellow-ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: black;
    margin-left: 10%;
    margin-top: 10%;
}

.green-ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: black;
    margin-left: 10%;
    margin-top: 10%;
    outline: none;


}

.green-ball:focus {
    background-color: green;

}

.yellow-ball:focus {
    background-color: yellow;

}

.red-ball:focus {
    background-color: red;

}

.coutainer {
    display: flex;
   

}

.text-block {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    background-color: black;
    color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 200px;
    border-radius: 10%;
    text-align: center; 
   
    padding-bottom: 20px;

    
}

.text-block label{
    padding-top: 30px;

}